@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --red: #CC0202;
  --green: #119955;
  --white: #fafbfc;
  --light: #e1e2e3;
  --dark: #212121;
  --dark-grey: #767676;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.spinner {
  width: 100%;
  height: 100%;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid var(--light);
  border-top-color: var(--red);
  animation: spinner .6s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 45px;
  padding: 0 4%;
  background: var(--red);
  box-shadow: 0 1px 3px -1px var(--dark);
  z-index: 2;
  position: absolute;
}

.navbar-container .logo {
  width: 45px;
  height: 45px;
}

.navbar-container .logo img {
  width: 100%;
  height: 100%;
}

.navbar-container .add-animal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  padding: 1px;
  background: var(--white);
  cursor: pointer;
  margin-left: auto;
  outline: none;
  position: relative;
}

.navbar-container .add-animal img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.navbar-container .add-animal.active::before,
.navbar-container .add-animal.active::after {
  display: block;
  margin: 0;
  padding: 0;
  content: '';
  border-radius: 50%;
  border: 2px solid var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  z-index: -1
}

.navbar-container .add-animal.active::before {
  animation: add-animal-button 1100ms ease infinite running
}

.navbar-container .add-animal.active::after {
  animation: add-animal-button 1100ms ease 750ms infinite running
}

@keyframes add-animal-button {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

.navbar-container .search-container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  position: relative;
}

.navbar-container .search-container .search {
  display: flex;
  align-items: center;
  background: var(--white);
  padding: 2px 5px;
  border-radius: 25px;
  transition: all 250ms ease;
}

.navbar-container .search-container .search .icon {
  width: 26px;
  height: 26px;
}

.navbar-container .search-container .search .icon img {
  width: 100%;
  height: 100%;
}

.navbar-container .search-container .search .input-field input {
  width: 175px;
  background: var(--white);
  padding: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: 'Roboto', 'arial', sans-serif;
  color: var(--dark);
  transition: all 250ms ease;
}

.navbar-container .search-container .suggestions {
  position: absolute;
  top: 42px;
  width: 100%;
  background: var(--white);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 4px -2px var(--dark)
}

.navbar-container .search-container .suggestions .sug {
  font-size: 14px;
  padding: 14px 22px;
  font-family: 'Roboto', 'arial', sans-serif;
  color: var(--dark);
  background-color: var(--white);
  cursor: pointer;
  transition: all 250ms ease;
}

.navbar-container .search-container .suggestions .sug p {
  word-break: break-all;
}

.navbar-container .search-container .suggestions .sug:hover {
  color: var(--red);
  background-color: var(--light);
}

.navbar-container .user{
  display: flex;
}

.navbar-container .login-link,
.navbar-container .user .logout-link,
.navbar-container .user .logout-btn  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  padding: 5px;
  background: var(--white);
  cursor: pointer;
  margin-left: 7px;  
  outline: none;
  position: relative;
}

.navbar-container .login-link img,
.navbar-container .user .logout-link img,
.navbar-container .user .logout-btn img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.map-container {
  display: flex;
  padding-top: 45px;
}

.map-gl-container {
  padding-left: 0;
  transition: all 500ms ease;
}

.map-gl-container.side-open {
  padding-left: 300px
}

.map-container .pin {
  width: 23px;
  height: 23px;
  position: relative;
  cursor: pointer
}

.pin-container .pin img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -50%
}

.pin-container .show-type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -30px;
  left: -15px;
  width: 44px;
  height: 20px;
  border-radius: 3px;
  background: var(--white);
  box-shadow: 0 0 4px -2px var(--red);
}

.pin-container .show-type p {
  color: var(--red);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13.5px;
  font-weight: 700;
}

.map-container .sidebar-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: calc(100vh - 45px);
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 1px 2px 4px -2px var(--dark);
  z-index: 1;
  position: absolute;
  left: -300px;
  transition: all 500ms ease;
}

.map-container .sidebar-container.side-open {
  left: 0
}

.sidebar-container .add-animal-container{
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow-y: auto;
}

.add-animal-container .error {
  font-size: 13px;
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--red);
  padding: 4px 0;
}

.add-animal-container .header {
  text-align: center;
}

.add-animal-container .header h2 {
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  color: var(--dark);
}

.add-animal-container .form-animal {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.add-animal-container .form-animal .input-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.add-animal-container .form-animal .input-form label {
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--dark);
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

.add-animal-container  .form-animal .input-form label .red {
  color: var(--red);
  cursor: help;
}

.add-animal-container  .form-animal .input-form select {
  font-family: 'Roboto', Arial, sans-serif !important;
  font-weight: 700 !important;
  color: var(--dark);
  padding: 8px;
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  outline: none;
  background: var(--white);
  cursor: pointer;
  transition: all 250ms ease;
}

.add-animal-container .form-animal .input-form textarea {
  font-family: 'Roboto', Arial, sans-serif !important;
  letter-spacing: 0.25px;
  font-size: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  padding: 10px;
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  outline: none;
}

.add-animal-container .form-animal .input-form select:hover,
.add-animal-container .form-animal .input-form textarea:hover {
  border-color: var(--red)
}

.add-animal-container .add-file {
  width: 100%;
  height: 38px;
  overflow: hidden;
  position: relative;
}

.add-animal-container .add-file button {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);
  font-size: 12px;
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  outline: none;
}

.add-animal-container .add-file button img {
  height: 25px;
  margin-left: 10px;
}

.add-animal-container .add-file input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  outline: none;
}

.add-animal-container .preview-picture {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.add-animal-container .preview-picture button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: transparent;
  z-index: 10;
  padding: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.add-animal-container .preview-picture button img {
  width: 100%;
}

.add-animal-container .preview-picture .picture img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
}

.add-animal-container .footer,
.display-animal-container .footer {
  display: flex;
}

.add-animal-container .footer button,
.display-animal-container .footer button {
  width: 90px;
  padding: 8px;
  background: var(--white);
  box-shadow: 0 0 4px -3px var(--dark-grey);
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);
  font-size: 11px;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease;
}

.add-animal-container .footer button.save, 
.display-animal-container .footer button.close {
  margin-right: auto;
}


.add-animal-container .footer button.save:hover {
  border-color: var(--green);
  color: var(--green)
}

.add-animal-container .footer button.cancel:hover,
.display-animal-container .footer button.report:hover {
  border-color: var(--red);
  color: var(--red)
}


.sidebar-container .display-animal-container {
  height: 100%;
  padding: 20px 20px 20px 20px;
  overflow-y: auto;
}

.display-animal-container .animal-type {
  text-align: center;
  margin-bottom: 15px;
}

.display-animal-container .animal-type h3 {
  color: var(--red);
  font-size: 24px;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
}

.display-animal-container .animal-picture {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.display-animal-container .animal-picture img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--red);
}

.display-animal-container .animal-description {
  width: 100%;
  overflow: hidden;
  margin: 25px 0;
}

.display-animal-container .animal-description h4{
  color: var(--red);
  font-size: 18px;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

.display-animal-container .animal-description p {
  width: 100%;
  word-break: break-all;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  color: var(--dark);
  letter-spacing: 0.25px;
  line-height: 1.5;
}

.display-animal-container .report-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 0px;
  overflow: hidden;
  transition: all 200ms ease;
}

.display-animal-container .report-container.active {
  height: auto;
}

.display-animal-container .report-container h4 {
  color: var(--red);
  font-size: 13px;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  margin: 5px 0;
}

.display-animal-container .report-container textarea {
  font-family: 'Roboto', Arial, sans-serif !important;
  letter-spacing: 0.25px;
  font-size: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 70px;
  max-height: 70px;
  resize: none;
  padding: 10px;
  background-color: var(--white);
  border: 1px solid var(--dark-grey);
  border-radius: 3px;
  outline: none;
  margin-bottom: 7px;
}

.display-animal-container .report-container textarea:hover {
  border-color: var(--red)
}

.display-animal-container .report-container .report-buttons {
  margin-top: 10px;
}

.display-animal-container .report-container button {
  padding: 2px;
  background: transparent;
  box-shadow: none;
  border: none;
  font-family: 'Roboto', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);
  font-size: 10px;
  cursor: pointer;
  outline: none;
  transition: all 250ms ease;
}

.display-animal-container .report-container button.submit {
  margin-right: 15px;
  color: var(--green)
}

.display-animal-container .report-container button.cancel {
  color: var(--red)
}

.display-animal-container .report-container p.error {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  color: var(--red);
}

.display-animal-container .report-container p.sent {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  color: var(--green);
}

@media only screen and (max-width: 640px) {

  .navbar-container .search-container {
    margin-left: 7px;
  }

  .navbar-container .search-container .search {
    padding: 3px 3px;
    cursor: pointer;
  }

  .navbar-container .search-container .search .input-field input {
    width: 0;
    padding: 0;
  }

  .navbar-container .search-container .search div:last-child {
    width: 0 !important 
  }

  .navbar-container .search-container .suggestions {
    display: none;
  }

  .navbar-container .search-container.active .search {
    padding: 2px 6px;
    cursor: pointer;
  }

  .navbar-container .search-container.active .search .input-field input {
    width: 140px;
    padding: 5px;
  }

  .navbar-container .search-container.active .search div:last-child {
    width: 20px !important
  }

  .navbar-container .search-container.active .suggestions {
    display: block;
  }

}

.login-container {
  display: flex;
  min-height: 100vh;
  overflow: auto;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--red)
}

.login-container a {
  text-decoration: none;
}

.login-container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  text-align: center;
  margin: 10px 0;
}

.login-container .header {
  margin-bottom: 25px;
}

.login-container .header .logo {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.login-container .header .logo img {
  width: 100%;
}

.login-container .header h3 {
  display: flex;
  justify-content: center;
  font-size: 30px; 
  font-family: "Roboto", Arial, sans-serif;
  color: var(--light);
  text-transform: uppercase;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 90%;
}

.login-container form .error {
  color: var(--light);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  left: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.login-container form .input {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.login-container form .input label {
  color: var(--light);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  left: 10px;
}

.login-container form .input input {
  width: 100%;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: 18px;
  outline: none;
  padding: 0 15px;
  margin-top: 5px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--dark);
}

.login-container form button {
  width: 140px;
  height: 38px;
  background: var(--white);
  border: 1px solid var(--light);
  border-radius: 18px;
  outline: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--red);
  text-transform: uppercase;
  cursor: pointer;
}

.login-container form .input input,
.login-container form button {
  box-shadow: 0 4px 9px -3px var(--dark);
  transition: all 250ms ease
}

.login-container form .input input:hover,
.login-container form .input input:focus,
.login-container form button:hover{
  box-shadow: none;
}

.login-container form .input .eye-btn{
  display: block;
  width: 32px;
  height: 32px;
  padding: 5px;
  position: relative;
  top: calc( 0px - 35px);
  left: calc( 100% - 36px);
  box-shadow: none;
}

.login-container form .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container form .buttons .home-link {
  font-size: 14px;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

.not-found-container {
  background: var(--red);
  display: flex;
  min-height: 100vh;
  overflow: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-container .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 120px;
  text-align: center;
  margin-bottom: 30px;
    
}

.not-found-container .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.not-found-container .header .logo img {
  width: 100%;
}

.not-found-container .header h3 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--light);
  text-transform: uppercase;
}

.not-found-container .main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 350px;
  width: 90%;
  margin-bottom: 30px;
}

.not-found-container .main .not-found {
  width: 200px;
  margin-bottom: 15px;
}

.not-found-container .main .not-found img {
  width: 100%;
}

.not-found-container .main h4 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--light);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.not-found-container .main p{
  color: var(--light);
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 15px;
}

.not-found-container .main a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--light);
  font-family: "Roboto", Arial, sans-serif;
  transition: all 250ms ease
}

.not-found-container .main a:hover {
  color: var(--dark-grey)
}